{% extends 'base-template.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
	WellBeing | Sign-Up
{% endblock %}

{% block style_header %}
	{{ block.super }}
	<style>
		body {
			background-color: #0066AA;
		}

		div.main {
			padding: 40px 0;
		}

		div.main input::-webkit-input-placeholder {
			font-size: 13px;
			padding-top: 2px;
		}

		div.main input {
			margin-top: 0,5px;
		}

		.main-center {
			margin-top: 1%;
			margin-bottom: auto;
			margin-left: auto;
			margin-right: auto;
			max-width: 515px;
			padding: 30px 40px;
			background: #ffffff;
			text-shadow: none;
			-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
			-moz-box-shadow:  0px 3px 5px 0px rgba(0,0,0,0.31);
			box-shadow:  0px 3px 5px 0px rgba(0,0,0,0.31);
		}

		div.title {
			color : #ffff;
			text-align: center;
		}

		div.title h1.title {
			font-weight : bold;
			text-align:  center;
			font-size: 25px;
		}

		p.login-link {
			color : #ffffff;
			text-align: center;
			padding-top: 20px;
		}

		.term-condition {
			margin-top: 5px;
			font-size: 13px;
			padding-top: 20px;
			text-align: center;
		}

		div.register-button {
			max-width: 200px;
			margin-left: auto;
			margin-right: auto;
		}

		a:link {
			color : #ffffff;
		}

		a:visited {
			color: #ffff;
		}

	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="main">
			<div class="title">
				<h1 class="title">Create Account</h1>
				<p>Get started with your free account</p>
			</div>
			<div class="main-center">
				<form method="POST">
					{% csrf_token %}

					<div class="form-group">
						<label for="form-group">Username</label>
						{% render_field form.username class="form-control" %}
						{% for error in form.errors %}
							<span class="help-block">{{error}}</span>
						{% endfor %}
					</div>

					<div class="form-group">
						<label for="form-group">Email</label>
						{% render_field form.email class="form-control" %}
						{% for error in form.errors %}
							<span class="help-block">{{error}}</span>
						{% endfor %}
					</div>

					<div class="form-group">
						<label for="form-group">Password</label>
						{% render_field form.password1 class="form-control" %}
						{% for error in form.errors %}
							<span class="help-block">{{error}}</span>
						{% endfor %}
					</div>

					<div class="form-group">
						<label for="form-group">Verify Password</label>
						{% render_field form.password2 class="form-control" %}
						{% for error in form.errors %}
							<span class="help-block">{{error}}</span>
						{% endfor %}
					</div>

					<div class="register-button">
						<input type="submit" name="btnRegister" value="Register" class="btn btn-lg btn-primary btn-block btnRegister">
					</div>

					<div>
						<p class="term-condition">
							By ticking, you are confirming that you have read, understood and agree to Imaginary terms and conditions.
						</p>
					</div>
				</form>
			</div>
			<p class="login-link">Have an account ? <a href="/web/login">Login</a></p>
		</div>
	</div>
{% endblock %}